{{#todoEntries}}
    <li id="{{id}}" data-state="{{state}}">
        <span>{{description}}</span>
        <button class="button delete" name="delete"></button>
        <button class="button trigger" name="trigger"></button>
    </li>
{{/todoEntries}}
